.chat-container {
  //border: 1px solid black;
  //background-color: #2b2f32;
  //margin: 0 auto;
}

.chat-nav {
  margin: 20px 0;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  justify-content: space-between;

  & p {
    margin: 0;
  }

}

.chat-fields {
  display: flex;
  gap: 5px;
  flex-direction: row;
  min-height: 500px;
}

.users-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-active-field,
.users-offline-field {
  padding: 5px;
  width: 100%;
}
