@import '../../../../stylesheets/abstracts/variables';

.button {
    color: $btn-primary-color;
    background-color: $btn-primary-background-color;
    border-color: $btn-primary-border-color;

    &:hover {
        background-color: $btn-primary-background-color;
        border-color: $btn-primary-hover-border-color;
    }

    &:disabled {
        background-color: inherit;
        border-color: $btn-disabled-color;
        color: $btn-disabled-color;
    }
}
