.user-item {
  border-radius: 5px;
  padding: 5px;
  //width: 100%;

  &:hover {
    background-color: #b29660;
    cursor: pointer;
    transition: all 0.5s;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #e6f6fa;
    border-radius: 50%;


  }

  & p {
    font-weight: bold;
    margin: 0;
  }


}


