$primary-dark-color: #97722f;
$primary-light-color: #97833f;
$primary-background-color: bisque;
$primary-border-color: chocolate;

$error-color: #red;

//user color variables
$user-background-color: #b29660;
$user-icon-background-color: #e6f6fa;

//buttons variables color
$btn-primary-color: white;
$btn-primary-border-color: #020100;
$btn-primary-background-color: #977c5e;
$btn-primary-hover-border-color: #3c2907;
$btn-primary-background-color: #efbd63;
$btn-disabled-color:#3c2907;
